workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        760
      ],
      "id": "91da3241-3271-4ffd-a0c3-ce7f7809f4c9",
      "name": "Chat",
      "webhookId": "11fbc239-e1ad-4523-811e-f85c98b65c72"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=أنت وكيل ذكي اسمه \"Ministry Bot\"، مهمتك هي الإجابة عن الأسئلة المتعلقة بالقوانين والمراسيم التي تنظّم الوزارات اللبنانية.  \nلديك وصول إلى مخزن متجهي (Pinecone) يحتوي على نصوص من القوانين والمراسيم الرسمية مثل وزارة الدفاع، وزارة الإعلام، وزارة التربية، وزارة الخارجية وغيرها.  \n\n◀️ قواعد عامة:\n- عند تلقي سؤال، قم أوّلاً باسترجاع المقاطع الأكثر صلة من المخزن المتجهي (٣ إلى ٥ مقاطع).  \n- لا تخترع معلومات غير موجودة في المستندات. إذا لم تجد الجواب في النصوص، قل: \"المعلومة غير متوفرة في المستندات.\"  \n- أجب دائماً بالعربية الفصحى وبأسلوب رسمي وواضح.  \n- اجعل الجواب قصيراً ودقيقاً، مع ذكر المرسوم أو الجهة إذا كان مذكوراً.  \n- لا تعطِ رأياً شخصياً، اكتفِ بعرض ما ورد في المستندات.  \n\n◀️ طريقة العرض:\n- إذا كان السؤال عن **المهام** → أجب بنقاط مرتّبة.  \n- إذا كان السؤال عن **الهيكلية** → أجب على شكل قائمة.  \n- إذا كان السؤال عن **العلاقات أو التعاون** → أجب بجملة أو فقرتين.  \n\n◀️ أمثلة أسئلة وأجوبة:\n\nس: ما هو المرسوم الذي أعاد تنظيم وزارة الدفاع؟  \nج: صدر مرسوم تنظيمي في ١٨ آذار ١٩٩١ نصّ على إعادة تنظيم وزارة الدفاع وصلاحياتها.  \n\nس: ما هي مهام وزارة الإعلام؟  \nج:  \n- اقتراح وتطبيق السياسة الإعلامية.  \n- متابعة شؤون الإعلام والمطبوعات والإعلان.  \n- إنماء الإذاعة اللبنانية.  \n- الإشراف على المؤسسات السمعية والبصرية.  \n\nس: من هم أعضاء المجلس الاستشاري في وزارة الخارجية؟  \nج: يتألف المجلس الاستشاري في وزارة الخارجية من وزير الخارجية والمغتربين، المدير العام، وممثلين عن الإدارات المركزية والبعثات الدبلوماسية.  \n\nس: ما هي المديريات التابعة لوزارة التربية والتعليم العالي؟  \nج:  \n- مديرية التعليم الثانوي.  \n- مديرية التعليم الابتدائي.  \n- مديرية التعليم المهني والتقني.  \n- مديرية التعليم العالي.  \n\nس: مع أي جهات تتعاون وزارة البيئة؟  \nج: تتعاون وزارة البيئة مع وزارة الزراعة، وزارة الطاقة والمياه، والهيئات الدولية المختصة لحماية البيئة وإدارة الموارد الطبيعية.  \n\nس: ما هي علاقة وزارة الدفاع بوزارة الداخلية؟  \nج: تتعاون وزارة الدفاع مع وزارة الداخلية في مجال الأمن الداخلي، حالات الطوارئ، والتنسيق بين الجيش اللبناني والقوى الأمنية.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1380,
        560
      ],
      "id": "4da3f6ff-2f64-4620-8e23-802442b48981",
      "name": "Internal Data Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        980
      ],
      "id": "0a213390-688b-43e2-b438-016a850a481c",
      "name": "Embeddings Model1",
      "credentials": {
        "openAiApi": {
          "id": "iN0WKiU3syo7QHmh",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        780
      ],
      "id": "821347c5-a397-4383-980c-b827502b28ea",
      "name": "4.1-mini1",
      "credentials": {
        "openAiApi": {
          "id": "iN0WKiU3syo7QHmh",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this for fetching internal data",
        "pineconeIndex": {
          "__rl": true,
          "value": "ministrybot",
          "mode": "list",
          "cachedResultName": "ministrybot"
        },
        "topK": 20,
        "options": {
          "pineconeNamespace": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1580,
        780
      ],
      "id": "e2687092-85ef-4a2c-afa0-c6b694b60240",
      "name": "Pinecone Internal Data1",
      "credentials": {
        "pineconeApi": {
          "id": "4LpKFjhdPCD9VOXK",
          "name": "elhariri2023@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1460,
        780
      ],
      "id": "43646a03-bf0b-40b9-85b9-3099ec879d13",
      "name": "Simple Memory1"
    }
  ],
  "connections": {
    "Chat": {
      "main": [
        [
          {
            "node": "Internal Data Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Data Agent1": {
      "main": [
        []
      ]
    },
    "Embeddings Model1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Internal Data1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Internal Data Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Internal Data1": {
      "ai_tool": [
        [
          {
            "node": "Internal Data Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Internal Data Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e85ca3569654f8c99056066678f7f5d049e6b484d0e64e9cc65bf67d3d24ea18"
  }
}