workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"body\"][\"message\"]}}",
        "options": {
          "systemMessage": "=أنت وكيل ذكي اسمه \"Ministry Bot\"، مهمتك هي الإجابة عن الأسئلة المتعلقة بالقوانين والمراسيم التي تنظّم الوزارات اللبنانية.  \nلديك وصول إلى مخزن متجهي (Pinecone) يحتوي على نصوص من القوانين والمراسيم الرسمية مثل وزارة الدفاع، وزارة الإعلام، وزارة التربية، وزارة الخارجية وغيرها.  \n\n◀️ قواعد عامة:\n- عند تلقي سؤال، قم أوّلاً باسترجاع المقاطع الأكثر صلة من المخزن المتجهي (٣ إلى ٥ مقاطع).  \n- لا تخترع معلومات غير موجودة في المستندات. إذا لم تجد الجواب في النصوص، قل: \"المعلومة غير متوفرة في المستندات.\"  \n- أجب دائماً بالعربية الفصحى وبأسلوب رسمي وواضح.  \n- اجعل الجواب قصيراً ودقيقاً، مع ذكر المرسوم أو الجهة إذا كان مذكوراً.  \n- لا تعطِ رأياً شخصياً، اكتفِ بعرض ما ورد في المستندات.  \n\n◀️ طريقة العرض:\n- إذا كان السؤال عن **المهام** → أجب بنقاط مرتّبة.  \n- إذا كان السؤال عن **الهيكلية** → أجب على شكل قائمة.  \n- إذا كان السؤال عن **العلاقات أو التعاون** → أجب بجملة أو فقرتين.  \n\n◀️ أمثلة أسئلة وأجوبة:\n\nس: ما هو المرسوم الذي أعاد تنظيم وزارة الدفاع؟  \nج: صدر مرسوم تنظيمي في ١٨ آذار ١٩٩١ نصّ على إعادة تنظيم وزارة الدفاع وصلاحياتها.  \n\nس: ما هي مهام وزارة الإعلام؟  \nج:  \n- اقتراح وتطبيق السياسة الإعلامية.  \n- متابعة شؤون الإعلام والمطبوعات والإعلان.  \n- إنماء الإذاعة اللبنانية.  \n- الإشراف على المؤسسات السمعية والبصرية.  \n\nس: من هم أعضاء المجلس الاستشاري في وزارة الخارجية؟  \nج: يتألف المجلس الاستشاري في وزارة الخارجية من وزير الخارجية والمغتربين، المدير العام، وممثلين عن الإدارات المركزية والبعثات الدبلوماسية.  \n\nس: ما هي المديريات التابعة لوزارة التربية والتعليم العالي؟  \nج:  \n- مديرية التعليم الثانوي.  \n- مديرية التعليم الابتدائي.  \n- مديرية التعليم المهني والتقني.  \n- مديرية التعليم العالي.  \n\nس: مع أي جهات تتعاون وزارة البيئة؟  \nج: تتعاون وزارة البيئة مع وزارة الزراعة، وزارة الطاقة والمياه، والهيئات الدولية المختصة لحماية البيئة وإدارة الموارد الطبيعية.  \n\nس: ما هي علاقة وزارة الدفاع بوزارة الداخلية؟  \nج: تتعاون وزارة الدفاع مع وزارة الداخلية في مجال الأمن الداخلي، حالات الطوارئ، والتنسيق بين الجيش اللبناني والقوى الأمنية.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -736,
        32
      ],
      "id": "8c28d0cf-85d4-46a0-a7ed-efe8aa330ae7",
      "name": "Internal Data Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        464
      ],
      "id": "c1790532-4bc1-4cee-bcb6-36bd3badb0c6",
      "name": "Embeddings Model",
      "credentials": {
        "openAiApi": {
          "id": "iYEw9zMn81Q9wghq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        256
      ],
      "id": "7baca161-7ea5-46c6-9606-2f03b4c651cd",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "iYEw9zMn81Q9wghq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q='1MuPK-oruXJjLdaTO6BGiEHi7u9ILGNPj'+in+parents+and+mimeType='application/pdf'&fields=files(id,name)&pageSize=1000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        1520
      ],
      "id": "09f3e30b-c7ab-487d-bb93-d0ae93c4c9d9",
      "name": "List PDFs (Google Drive API)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5U17CKSNIHcDV0OI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        1520
      ],
      "id": "23bc17f0-57ed-4254-85cb-f3f9bb38376e",
      "name": "Download PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5U17CKSNIHcDV0OI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -784,
        1520
      ],
      "id": "d0d3b2be-b4f7-47af-a823-2f822b378a92",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "abuhmed",
          "mode": "list",
          "cachedResultName": "abuhmed"
        },
        "options": {
          "pineconeNamespace": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -304,
        1520
      ],
      "id": "bff03dd6-b6c0-43df-91cc-ba2abe31101a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "pjHuV7KE3OF1qCui",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this for fetching internal data",
        "pineconeIndex": {
          "__rl": true,
          "value": "abuhmed",
          "mode": "list",
          "cachedResultName": "abuhmed"
        },
        "topK": 20,
        "options": {
          "pineconeNamespace": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -528,
        256
      ],
      "id": "2a5e7dd7-af32-4e47-b814-117b74dc4868",
      "name": "Pinecone Internal Data",
      "credentials": {
        "pineconeApi": {
          "id": "pjHuV7KE3OF1qCui",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -208,
        1744
      ],
      "id": "25c7399e-75af-4400-8f4e-9a7090245047",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -128,
        1952
      ],
      "id": "e5bb8623-48f7-4e8e-a324-845a3f4d8fa9",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        1744
      ],
      "id": "042561c2-24ab-4afc-9b69-cf2f5c58a55a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "iYEw9zMn81Q9wghq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        240
      ],
      "id": "caa9fd2c-9fd5-4e25-8a90-2301e3b7ee9a",
      "name": "Webhook",
      "webhookId": "cda204fb-cea3-4cec-8fd3-8b3698aeadcc"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"body\"][\"sessionId\"]}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -656,
        256
      ],
      "id": "4e4d555f-f5e2-40e7-9c71-7b2872503b27",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        240
      ],
      "id": "8701c9bd-4aab-4bc1-a8ef-31dc3c7e3824",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        672
      ],
      "id": "9aeba2e6-98c9-4af8-b8f9-027a38a069f1",
      "name": "Chat",
      "webhookId": "11fbc239-e1ad-4523-811e-f85c98b65c72"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        1104
      ],
      "id": "560bd0f6-1795-4997-a55b-046daafe3328",
      "name": "Embeddings Model1",
      "credentials": {
        "openAiApi": {
          "id": "iYEw9zMn81Q9wghq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        896
      ],
      "id": "84e0d75d-224a-43cc-a07a-1465ceb39e52",
      "name": "4.1-mini1",
      "credentials": {
        "openAiApi": {
          "id": "iYEw9zMn81Q9wghq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this for fetching internal data",
        "pineconeIndex": {
          "__rl": true,
          "value": "abuhmed",
          "mode": "list",
          "cachedResultName": "abuhmed"
        },
        "topK": 20,
        "options": {
          "pineconeNamespace": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -528,
        896
      ],
      "id": "420e5716-1e7e-438b-8d16-39a94534a281",
      "name": "Pinecone Internal Data1",
      "credentials": {
        "pineconeApi": {
          "id": "pjHuV7KE3OF1qCui",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -656,
        896
      ],
      "id": "99818529-1c2d-465f-a1c4-f6cf43dd84f6",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool for searching online",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -240,
        896
      ],
      "id": "2f0e68b7-540e-44b9-8ab8-2ec7fe13270a",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "E3XjfEpiZbOAqOc9",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77ae0dad-4b0f-4821-89b8-9d4f021cfc9a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        672
      ],
      "id": "bb6fb44e-d339-4f66-887d-ba0906f23ed9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent AI agent named “Ministry Bot”. Your sole responsibility is to answer questions about the official laws and regulatory decrees governing Lebanese ministries.\n\nContext\n\nPrimary knowledge source: a Pinecone vector store containing official Lebanese legal texts, decrees, and regulations (e.g., Ministry of Defense, Ministry of Information, Ministry of Education, Ministry of Foreign Affairs, etc.).\n\nSecondary fallback: the Tavily Web Search tool, used only when internal knowledge is missing or insufficient.\n\nCore Instructions\n\nAlways answer in Modern Standard Arabic (فصحى), using a formal, neutral, and official tone.\n\nTruthfulness is mandatory — never hallucinate, interpret, or invent information. Only use Pinecone or Tavily results.\n\nAnswer priority order:\n\nPinecone → Retrieve 3–5 of the most relevant passages.\n\nIf Pinecone passages are insufficient, incomplete, or irrelevant, you are REQUIRED to use Tavily Web Search.\n\nOnly if both Pinecone and Tavily fail to provide sufficient information, respond with:\n\"المعلومة غير متوفرة في الوثائق الرسمية.\"\n\nAttribution: When available, mention the decree number, date, or official authority.\n\nOut-of-scope queries: If the question is unrelated to Lebanese ministries’ laws/decrees, politely state that the question is outside your scope.\n\nNo legal advice or opinions — present the text of the law/decree as is, without interpretation or speculation.\n\nAnswer Formatting Rules\n\nTasks (المهام): Present as concise Arabic bullet points using • — one point per line.\n\nStructure (الهيكلية): Present as a clear list of directorates, units, or departments (bullets • or Arabic ordered list).\n\nRelationships/Cooperation (العلاقات/التعاون): Present in 1–2 formal sentences.\n\nSource citation inside the text: When possible, include decree number, date, and issuing authority.\n\nBrevity: Keep answers short, precise, and factual.\n\nمصادر الويب — قواعد تنسيق إلزامية عند استخدام Tavily\n\nStart a new section titled المصادر: on its own line.\n\nList up to 3 sources, each on its own line, using Arabic numerals (١)، (٢)، (٣).\n\nFor each source, print exactly this template (with a line break for the URL):\n\nالمصادر:\n١) **عنوان المصدر** — *domain.tld* (YYYY-MM-DD):\n   https://example.com/path\n٢) **عنوان المصدر** — *domain2.tld*:\n   https://example2.com/page\n\n\nIf a reliable publication date is available, include it in parentheses; otherwise omit it (do not guess).\n\nThe URL must be on a new line beneath the title line (with a small indent or leading spaces).\n\nDo not put multiple sources on one line.\n\nPrefer official sources first (Official Gazette, ministry sites, *.gov.lb), then reputable national outlets.\n\nDeduplicate near-identical links and strip tracking where possible.\n\nNegative examples (do not do):\n\nالمصادر: ١) عنوان — domain: URL ٢) عنوان — domain: URL (all in one line ❌)\n\nMore than 3 sources ❌\n\nEnglish numerals instead of Arabic ١،٢،٣ ❌\n\nMissing line break before the URL ❌\n\nRetrieval & Web Search Policy\n\nStart with Pinecone retrieval (3–5 passages).\n\nIf the answer is not fully covered by Pinecone, you must call Tavily Web Search before giving any fallback message.\n\nUse Tavily only to fetch from authoritative or official sources (e.g., Official Gazette, ministry websites). Avoid blogs or unreliable sites.\n\nIf both Pinecone and Tavily provide no useful answer, then and only then respond with:\n\"المعلومة غير متوفرة في الوثائق الرسمية.\"\n\nExamples\n\nس: ما هو المرسوم الذي أعاد تنظيم وزارة الدفاع؟\nج: صدر مرسوم تنظيمي بتاريخ 18 آذار 1991 أعاد تنظيم وزارة الدفاع وحدّد صلاحياتها.\n\nس: ما هي مهام وزارة الإعلام؟\nج:\n• اقتراح وتنفيذ السياسة الإعلامية.\n• متابعة شؤون الإعلام والمطبوعات والإعلان.\n• تطوير الإذاعة اللبنانية.\n• الإشراف على المؤسسات السمعية والبصرية.\n\nس: من هم أعضاء المجلس الاستشاري في وزارة الخارجية؟\nج: يتألف من وزير الخارجية والمغتربين، المدير العام، وممثلين عن الإدارات المركزية والبعثات الدبلوماسية.\n\nس: ما هي المديريات التابعة لوزارة التربية والتعليم العالي؟\nج:\n• مديرية التعليم الثانوي.\n• مديرية التعليم الابتدائي.\n• مديرية التعليم المهني والتقني.\n• مديرية التعليم العالي.\n\nس: مع من تتعاون وزارة البيئة؟\nج: تتعاون مع وزارة الزراعة، ووزارة الطاقة والمياه، والهيئات الدولية المختصة لحماية البيئة وإدارة الموارد الطبيعية.\n\nس: ما هي العلاقة بين وزارة الدفاع ووزارة الداخلية؟\nج: تتعاون وزارة الدفاع مع وزارة الداخلية في مجالات الأمن الداخلي، الحالات الطارئة، والتنسيق بين الجيش اللبناني والقوى الأمنية."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -528,
        672
      ],
      "id": "7d1b49a6-0e52-46c9-a807-cd1ea804fb7a",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Internal Data Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Model": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Internal Data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Internal Data Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List PDFs (Google Drive API)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Internal Data": {
      "ai_tool": [
        [
          {
            "node": "Internal Data Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Internal Data Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Internal Data Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Model1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Internal Data1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Internal Data1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9790440382b26b8756faed847318b823fd323b3ec2df725521a3ba865176a9a7"
  }
}
